// * FONTS VARIABLES START

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$itemsFont:'Montserrat Alternates', sans-serif;

// ! FONTS VARIABLES END
// * Colors variables start

$titlesColor: #4361EE;
$linksColor:#6C757D;
$textColor:#CED4DA;
$blackColor:#000000;
$secondaryColor: #585F69;
$itemsColor: #717986;
$whiteColor:#FFFFFF;
$navbarContentColor: #1E90FF;
$teamItemsColor: #F7F7F7;
$itemsBgColor:#EDF2F4;
$footerDownColor: #293241;
$footerColor: #495057;
$shadowColor: #C4C4C4;
$navbarColor:#E3F2FD;
$analyticColor: #F8F9FA;
$hoverColor:#5f30ff;
$descColor: #585F69;

// ! Colors variables end